<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="enwik8 compression test data (MSI)" Language="1033" Version="1.0.0.0" Manufacturer="Frank Richter" UpgradeCode="30e88bde-a784-4695-bcec-0f6f1b831336">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" CompressionLevel="high" EmbedCab="yes" Cabinet="enwik8.cab" />

		<Feature Id="ProductFeature" Title="wix_msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="enwik8 compression test data (MSI)" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="enwik8_file">
        <File Source="..\enwik8" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>